@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Helvetica";
    src: url(./fonts/helvetica-255/Helvetica.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(./fonts/Poppins/Poppins-Regular.ttf);
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.section,
.slide {
    background-attachment: fixed;
}

.background-1 {
    background-image: linear-gradient(to top, black, lightgray),
        url(../images/bg1-upscale.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.bg-oldbekasi {
    background-image: linear-gradient(to top, black, gray),
        url(../images/old-bekasi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.button-outline {
    @apply ring-2 ring-white hover:bg-white hover:text-black transition-all px-5 py-2;
}
